body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}

.quiz-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
}

#quiz {
  padding: 20px;
}

.question-container {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  background-color: #e1e1e1;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #ccc;
}

.quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#progress-bar {
  height: 10px;
  background-color: #4caf50;
  width: 0;
  border-radius: 5px;
  transition: width 0.3s;
}

#score {
  font-size: 18px;
}